[Desktop Entry]
Type=Application
Version=1.0
Name=clientosh
GenericName=SSH Client
Comment=Lightweight multiplatform SSH, SFTP, and Telnet client
Exec=clientosh
Icon=clientosh
Terminal=false
Categories=Network;RemoteAccess;
Keywords=ssh;terminal;remote;
StartupNotify=true
